<div class="todo-list" *ngIf="tasks && tasks.length > 0">
  <mat-list>
    <mat-list-item *ngFor="let task of tasks; let i = index">
      <div class="todo-item">
        <span class="task-text" [class.finished]="finishedIndexes.has(i)">
          {{ task }}
        </span>

        <div class="action-buttons">
          <button
            mat-icon-button
            color="primary"
            aria-label="Mark done"
            (click)="onFinish(i)">
            <mat-icon>done</mat-icon>
          </button>

          <button
            mat-icon-button
            color="warn"
            aria-label="Delete"
            (click)="onDelete(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
