.add-task {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.task-input {
  width: 70%;
  margin-right: 10px;
  margin-top: 10px;
}

button {
  margin-top: 18px;
}

.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
